<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <%- include('./partials/nav', {user: user}); %>
    <div class="welcomeText">
      <p>Ready to play pokeQuiz?</p>
    </div>
  </body>
</html>
