<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/head %>
</head>

<body>
    <%- include('./partials/nav', {user: user}); %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Create a question</h2>
        <br>
        <form method="POST" action="/questions">
          <div class="form-group">
            <input type="text" name="question" class="form-control" placeholder="Question" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="image" class="form-control" placeholder="Image">
          </div>
          <div class="form-group">
            <input type="text" name="option1" class="form-control" placeholder="Option 1">
          </div>
          <div class="form-group">
            <input type="text" name="option2" class="form-control" placeholder="Option 2">
          </div>
          <div class="form-group">
            <input type="text" name="option3" class="form-control" placeholder="Option 3">
          </div>
          <div class="form-group">
            <input type="text" name="option4" class="form-control" placeholder="Option 4">
          </div>
          <div class="form-group">
            <input type="text" name="correct" class="form-control" placeholder="Correct option">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" value="Create">
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
