#navspan{
  display: flex;
  flex-direction: row;
}

#navspan span{
  width: 50%;
}

#loginspan{
  text-align: right;
}

#signupspan{
  text-align: right;
}

.navbar .card-panel{
  /* top:0; */
  margin-top: 0;
  margin-bottom: 0;
}

.welcomeText{
  text-align: center;
}

.questionImage{
  max-width:400px;
  max-height:300px;
  width: auto;
  height: auto;
}

.optionImage{
  /* display: block; */
  max-width:300px;
  max-height:200px;
  width: auto;
  height: auto;
}

#optionsForm{
  /* display: inline-block;
  text-align: center; */
  margin-left:auto;
  margin-right:auto;
  width:300px;
}

#optionsForm div{
  align-items: center;
}

/* .optionsFormDiv{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

div img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homepageButtons{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.readyButton{
  margin-top: 2em;
  margin-right: 1em;
}

.notReadyButton{
  margin-top: 2em;
  margin-left: 1em;
}

.resultsDiv{
  text-align: center;
}
