body{
  background-image: url("/images/profile-background.jpg");
  /* background-size: 180%; */
  /* background-size: auto; */
  background-position: center;
  background-repeat: no-repeat;
}

body *{
  color: white;
}
